<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="font-[arial]">
    <%- include('../partials/nav') %>
    <main class="flex justify-center">
      <div
        class="w-[90%] mt-8 h-auto flex justify-center items-center rounded-lg shadow-lg p-6"
      >
        <form action="/host/edit-home" method="POST">
          <span class="text-3xl font-semibold w-full"
            >Edit your Home on airbnb</span
          >
          <br />
          <input type="hidden" value="<%= home.id %>" name="id" />
          <input
            class="w-full bg-gray-200 text-center rounded-lg h-8 mt-4 text-left pl-4"
            type="text"
            value="<%= home.houseName %>"
            name="houseName"
            placeholder="Enter the name of your house"
          />
          <br />
          <input
            class="w-full bg-gray-200 text-center rounded-lg h-8 mt-4 text-left pl-4"
            type="text"
            value="<%= home.price %>"
            name="price"
            placeholder="Price Per Night"
          />
          <br />
          <input
            class="w-full bg-gray-200 text-center rounded-lg h-8 mt-4 text-left pl-4"
            type="text"
            value="<%= home.location %>"
            name="location"
            placeholder="Location"
          />
          <br />
          <input
            class="w-full bg-gray-200 text-center rounded-lg h-8 mt-4 text-left pl-4"
            type="text"
            value="<%= home.rating %>"
            name="rating"
            placeholder="Rating"
          />
          <br />
          <input
            class="w-full bg-gray-200 text-center rounded-lg h-8 mt-4 text-left pl-4"
            type="text"
            value="<%= home.imageUrl %>"
            name="imageUrl"
            placeholder="Enter House Image Link"
          />
          <br />
          <input
            value="Update Home"
            type="submit"
            class="w-full mt-2 bg-[#FF385C] h-8 text-white rounded-lg hover: cursor-pointer"
          />
        </form>
      </div>
    </main>
  </body>
</html>
